<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<head>
  <br><br><br><br><br>
  <title>Lynx</title>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="885982122839-ogpamdsmq6jij7j3tphc40cr9cqco7o6.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  
</body>
